*.pyc

*.bat

*.pptx

*.pyd

*.pyproj

*.sln

*.h5

*.mat

*.asv

*.swp

*.xdb

*.DBALL

*.log

*.op2

*.MASTER

*.IFPDAT

*.docx

*.sts

*.f04

*.un~

*.pdf

*.png

*.eps

*.fig

*.db

*.exe

*.db

*~

*.csv
